@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fauna+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  position: relative;
}

html { /* To prevent scrollbar from pushing content inwards, particularly the header */
  overflow-x: hidden;
}

@media(max-width: 768px) {
  html {
    margin-right: calc(-1 * (100vw - 100%));
  }
}

body {
  background-color: #F9EBE0;
  overflow-x: hidden;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.individual_cart_product:last-of-type {
  border: none;
}