@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fauna+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 768px) {
  html {
    margin-right: calc(-1 * (100vw - 100%));
  }
}

body {
  background-color: #f9ebe0;
  position: relative;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.individual_cart_product:last-of-type {
  border: none;
}
